<!doctype html>
<html lang="fr">
    <head>
        <!-- initialisation -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--Icon-->
        <link rel="icon" type="image/png" href="/static/images/logo.png" />
        <!-- Metadata -->
        <title>Abso'Ludique</title>
        <meta name="description" content="Site de l'association Abso'Ludique de Télécom Nancy" />
        <!-- Fix -->
        <script src="/static/scripts/transition_fix_chromium.js"></script>
        <!-- Styles -->
        <link rel="stylesheet" href="/static/styles/main.css" />
        <!-- Scripts -->
        <script src="/static/scripts/htmx.min.js"></script>
        <script src="/static/scripts/request_args.js" defer></script>
        <script src="/static/scripts/cookie.js" defer></script>
