    </head>
    <body>
        <input type="checkbox" id="dark-mode-chk" class="hide-chk" />

        <div class="theme-container">
            <header>
                <a href="/">
                    <h1>
                        Abso'Ludique
                    </h1>
                </a>

                <nav>
                    <ul>
                        <li>
                            <a href="/catalog">
                                Catalogue
                            </a>
                        </li>
                    </ul>

                    <div class="right">
                        <a class="account" href="/user">
                            <img src="/static/images/icons/user.svg" alt="Compte">
                        </a>

                        <label id="dark-mode-btn" for="dark-mode-chk">
                            <img src="/static/images/icons/theme.svg" alt="Thème">
                        </label>
                    </div>
                </nav>
            </header>

            <main>
                <div id="error"></div>
                <div id="info"></div>
